/* Reseteo de CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color:  whitesmoke;
}

header{
    display: flex;
    background-color: #128c7e;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:end;
    align-items:center;
    padding: 50px 20px;
}

.logo{
    width: 120px;
    position: fixed;
    top: 10px;
    left: 30px;
}

.contenedor{
    display: grid;
    grid-template-areas: "card title" "card title" "card title" "card title" "card title";
    grid-template-columns: repeat(3, 2fr);
    padding: 0px 25px;
    column-gap: 2rem;
}

.contenedor-card{
    grid-area: auto;
}

main{
    text-align: center;
}

footer{
    display: grid;
    bottom: 0;
    background-color: #128c7e;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin-top: 30px;
}
